name: TestLibrary


env:
  SOLUTION_FILE_PATH: RedFoxMath_Test.sln
  BUILD_CONFIGURATION: Release

on:
  push:
    branches: [ "master" ]

jobs: 
  test: 
    runs-on: self-hosted

    steps:
    - name: checkout
      uses: actions/checkout@v4

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1.0.2

    - name: Build
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: msbuild /m /p:Configuration=${{env.BUILD_CONFIGURATION}} ${{env.SOLUTION_FILE_PATH}}

    - name: Run tests
      run: | 
        x64/Release/RedFoxEngine_UnitTest.exe